$bg-main-color: #20144c;
$bg-card-color: #e0e0e0;
$text-main-color: #000;
$text-desc-color: rgba(255, 255, 255, 0.6);

$primary-color: #9700ff;
$success-color: #02bf02;
$yello-color: #fae77e;
$dark-yellow-color: #edc311;
$blue-color: #5575ff;
$dark-blue-color: #092291;

$white-color: #ffffff;

$normal-gap: 15px;

$navbar-height: 72px;
$navbar-bg-color: #120933;
